{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}

{% block body %}

<main class="formulaire-de-connexion">
    <form method="post" action="{{ path('app_login') }}" class="contact-form">
        <h2>Se connecter</h2>
        <p>Connectez-vous à votre compte.</p>
        <input type="email" name="_username" placeholder="Adresse e-mail" required>
        <input type="password" name="_password" placeholder="Mot de passe" required>
        <button type="submit">Se connecter</button>
    </form>

    {% if error %}
        <div class="alert alert-danger mt-3">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
</main>

{% endblock %}