html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

main {
    padding: 20px;
}

/* Section de la politique de confidentialité */
.container {
    padding: 0 15px; /* Padding de base pour petits écrans */
    margin: 0 auto; /* Centrage */
    max-width: 1200px; /* Largeur max pour grands écrans */
}

.container h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

.container h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 25px 0 15px;
    color: #333;
}

.container p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.container ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 40px;
    margin-bottom: 20px;
}

.container ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.container a {
    color: #007bff;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

/* Mode sombre */
body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

body.dark-mode .container {
    background-color: #000000;
    color: #ffffff;
}

body.dark-mode .container h1, 
body.dark-mode .container h2 {
    color: #ffffff;
}

body.dark-mode .container p, 
body.dark-mode .container ul li {
    color: #cccccc;
}

body.dark-mode .container a {
    color: #4da8ff;
}

body.dark-mode .container a:hover {
    text-decoration: underline;
}





/* Media Queries pour responsivité */
@media (min-width: 768px) { /* Tablettes et plus */
    .container {
        padding: 0 50px; /* Plus de padding sur écrans moyens */
    }
}

@media (min-width: 1024px) { /* Desktop */
    .container {
        padding: 0 300px; /* Padding large pour grands écrans */
    }
}

@media (max-width: 767px) { /* Mobile */
    .container h1 {
        font-size: 24px; /* Réduction taille pour mobile */
    }
    .container h2 {
        font-size: 18px;
    }
    .container p, 
    .container ul li {
        font-size: 14px; /* Texte plus petit */
    }
    .container ul {
        padding-left: 20px; /* Moins d’espace pour la liste */
    }
}